:root{
    --clr-neon: #C2E1C2;
    --clr-bg: #30352e;
}
.btn {
    text-align: center;
    font-size: 3vw;  
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 0.75em;
    border-radius: 0.50em;
    background-color: none;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;

    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

    position: relative;
}

.btn::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
}

.btn:hover,
.btn:focus {
    color: var(--clr-bg);
    text-shadow: none;
    animation:spin 1s ease-in-out forwards;
}
@keyframes spin{
    100%{
        transform:rotate(360deg) scale(1.3);
    }
}

.btn:hover::before,
.btn:focus::before {
    opacity: 1;
}
.btn:hover::after,
.btn:focus::after {
    opacity: 1;
}
.btn_img1,.btn_img2,.btn_img3,.btn_img4,.btn_img5,.btn_img6{
    position:absolute;
    border-radius: 10%;
}
.btn_img1{
    top:-45%;
    left:30%;
}
.btn_img2{
    top:-35%;
    left:32.5%;
}
.btn_img3{
    top:-50%;
    left:22.5%;
}
.btn_img4{
    top:-33%;
    left:24%;
}
.btn_img5{
    top:-2.5%;
    left:35%;
}
.btn_img6{
    top:-35%;
    left:30%;
}