.mojFilm{
    position:fixed;
    right: 0;
    bottom: 0;
    min-width:100%;
    min-height: 100%;
    z-index: -1;
}
.logo{
    position:absolute;
    width:450px;
    height:450px;
    border-radius:80px;
    top:-80px;
    left:36.5%;
    z-index: 1;
}
.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9{
    visibility:hidden;
    display:none;
    width:80%;
    height:0px;
    background-color:yellowgreen;
    margin-bottom:50px;
    margin: 75px auto;
}